div.navbar-fixed-top.navbar
	div.navbar-inner
		div.container
			a.brand(href="/") Steal This Idea
			ul.nav.pull-right
				- if (!everyauth.loggedIn)
					li#signup
						a(href='/register') Sign Up
					li#login
						a(href="/login") Log In
				-else
					-if (user.fb.name.first)
						a.brand(href="/profile/" + user._id)= user.fb.name.first
						
					-else	
						a.brand(href="/profile/" + user._id)= user.login	
					li#profile
						a(href= '/profile/' + user._id) Profile
					li
						a(href='/logout') Logout