div.row
	div.span6
		br
		-if (!everyauth.loggedIn)
			div.alert
				a.close(data-dismiss='alert') x
				= "You're posting as Anonymous. "
					a(href="/login") Login
					= " to take credit"
.row
	.span4.offset1	
		h1 Submit an Idea:
		form( method="post")
			div
				div
					- if (everyauth.loggedIn)
						input(type="hidden", name="userId", value="#{user._id}")
						-if (user.fb.name.first)
							input(type="hidden", name="username", value="#{user.fb.name.first}")
						-else
							input(type="hidden", name="username", value="#{user.login}")
					- else
						input(type="hidden", name="userId", value="0")
						input(type="hidden", name="username", value="Anonymous")           
				div
					h3 Title :
					input(type="text", name="title", id="editIdeaTitle")
				div
					h3 Body :
					textarea( name="body", rows=10, id="editIdeaBody")
				div#editIdeaSubmit
					input.btn.btn-success(type="submit", value="Submit")
