.facebook-auth
	- if (everyauth.facebook)
		h3 Facebook User Data
		p= JSON.stringify(everyauth.facebook.user)
.row
	div#about.span3
		h1 About:
		div.well
			p Have a great idea that you're never going to build?  Post it here!
		a.center.btn.btn-primary.btn-large(href="/idea/new") Post New Idea
	div#latest-ideas.span4
		h1 Latest Ideas
		div#accordion1.accordion
			-var i = 0;
			- each idea in ideas
				-i = i + 1
				div.accordion-group
					div.accordion-heading
						a.accordion-toggle(data-toggle="collapse", data-parent="#accordion1", href="#collapse" + i) #{idea.voters.length} votes | #{idea.title}
					div.accordion-body.collapse(id="collapse"+ i)
						div.accordion-inner
							p= idea.body
							a.pull-right(href="/idea/"+idea._id.toHexString()) link
	div#top-ideas.span4