!!!
html
	head
		title Steal This Idea
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
		script(src='/javascripts/bootstrap.min.js')
		script(src='/javascripts/main.js')

	body
		div.container
			div.row-fluid.offset2.span8
				include header.jade
				!= body

				script(type="text/javascript") var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-21059307-3']); _gaq.push(['_trackPageview']); (function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();

				div.row
					.offset3(style="padding-left:15px")
						br
						br
						p= "-by "
							a(href="http://randylubin.com") Randy Lubin
							= "-"
