!!!
html
	head
		title Steal This Idea
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
		script(src='/javascripts/bootstrap.min.js')
		script(src='/javascripts/main.js')
	body
		div.container
			include header.jade
			!= body