body
	padding-top 50px
	background-color #ffcc00
	background-image url('/images/orangeback.gif')
	background-repeat repeat

.accordion-group
	background-color white

.center
	margin-left auto
	margin-right auto
	text-align center
